
@import '../../\/node_modules/bootstrap/scss/functions';
@import'./stylesheet/variables';
@import'../../node_modules/bootstrap/scss/bootstrap.scss';

@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Kdam+Thmor+Pro&family=Noto+Sans+JP:wght@100&family=Noto+Sans+TC:wght@100&family=Noto+Serif+TC:wght@200&family=Pacifico&family=Vina+Sans&display=swap');

*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
    box-sizing: border-box;

    
}
.link{
    margin-left: 30px;
    text-decoration:none
    
}